.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 92px;
  background-color: #d9dcdd;
}

.content {
  flex: 1;
  max-width: 55%;
}

.content h1 {
  color: #004643;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerVideo {
  width: 100%;
  max-width: 450px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
